<div style="display: flex; flex-direction: column; ">
  <h2 class="center-self">Work Experience</h2>
  <p class="center-self">This will not be my comprehensive resume. It will simply just be a list of my previous positions and some of my skills.</p>
  <div class="center-self "style="width: 100%; ">
    <div class="education-card center-self">
      <h5 class="center-self">{{education.degree_title}}</h5>
      <h4 class="center-self">{{education.degree_major}}</h4>
      <p class="center-self"><a href="https://www.ecpi.edu/">
        {{education.institution}}
      </a>
    </p>
    </div>
    <div class="card-light center-self" *ngFor="let job of work_experience">
      <app-workexperience [work_experience]="job">
      </app-workexperience>
    </div>
    <div class="card-light center-self">
      Unrelated Service Industry positions are not listed
    </div>
  </div>
  <h2 class="center-self">Skills and Knowledge</h2>
  <div class="center-self" style="columns:3; justify-items: center;">
    <div class="card-light" *ngFor="let skill of skills">
      <app-skills [skill]="skill">
      </app-skills>
    </div>
  </div>
</div>
