<div class="navbar-wrapper">
  <div style="width: fit-content" class="center-self">
    <a
      class='nav-button'
      routerLink='/home'
      routerLinkActive="router-link-active"
      (click)="goToHome()"> Home </a>

    <a
    class='nav-button'
    routerLink='/resume'
    routerLinkActive="router-link-active"
    (click)="goToResume()"
    > Resume </a>

    <a
    class='nav-button'
    routerLink='/games'
    routerLinkActive="router-link-active"
    (click)="goToGames()" > Games </a>

    <a
    class='nav-button'
    routerLink='/pokedex'
    routerLinkActive="router-link-active"
    (click)="goToPokeDex()" > PokeDex </a>
  </div>
</div>
