<div class="navbar-wrapper">
  <div style="width: fit-content" class="center-self">
    <a
      class='nav-button'
      routerLink='/home'
      routerLinkActive="router-link-active"
      (click)="navTo('home')"> Home </a>

    <a
    class='nav-button'
    routerLink='/resume'
    routerLinkActive="router-link-active"
    (click)="navTo('resume')"
    > Resume </a>

    <a
    class='nav-button'
    routerLink='/projects'
    routerLinkActive="router-link-active"
    (click)="navTo('projects')" > Projects </a>
  </div>
</div>
