.navbar-wrapper {
  width:fit-content;
  height: fit-content
}

.nav-button {
  background: var(--clr-accent);
  border-radius: 5%;
  padding: 0.5rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.nav-button:hover {
  background: var(--clr-hover-effect);
  box-shadow: 1px 1px black;
}
