.navbar-wrapper {
  width: 100%;
  height: 20%;
}

.nav-button {
  background: var(--clr-accent);
  border-radius: 5%;
  padding: 0.5rem;
  margin: 1rem;
}

.nav-button:hover {
  background: var(--clr-hover-effect);
}
