<h2> Welcome to my Website! </h2>
<h3> The purpose of thise website. </h3>
<p>
  I am creating this website to serve as place for me to share my
  my projects with friends, family, and potential employers. For a while now,
  all of my projects have been completely private. However, I wish to expand
  and gain experience by making them public.

  This website will be slowly updated to introduce all my projects and more.
  At first, I will only be doing some projects to demonstrate skill
  (i.e. PokeDex to show basic API communication). After I get my basic projects
  on the website, I will be adding more personal and meaningful projects. Those being;
  a expansive calculator for the MMORPG Oldschool Runescape, and a few video games I've built,
  for expanding my mind.
</p>

<h3>About my Software Developer Journey</h3>
<p>
  After highschool, I didn't know what I wanted to do, so I worked different
  retail/service jobs. It wasn't until I experienced a mod for the game Minecraft,
  called 'Computer Craft', which was a mod that let you use Lua scripting language to control in-game robots.
  The mod enthralled me so much that I had to start learning about programming. Once I
  slowed down my learning of programing.
</p>
<p>
  I went to ECPI University to get my BS in Computer & Information Science.
  I majored in Software Development, where we learned about the whole process,
  and not just the coding aspect. We really focused on the Agile Methodologies,
  Cloud inegration, and Project Management. At the time of graduation, I had a
  GPA of 3.79, admitting to my few mistakes being completely my fault by
  not studying hard enough.
</p>
<p>
  I am proud to have gained skills in many different things related to programming.
  However, I am very happy to have learned about frameworks, as they were the most
  difficult part for me. We were introduced to MEAN (MongoDB, Express, Angular, Node.js)
  framwork, which was also my introduction to the concept of middle-ware. Even though I struggled then
  I now am an avid user of the framework Angular.
</p>
<p>
  And now, I have this website to expand my projects. I believe I will ultimately
  be able to achieve life goals of mine. Ever since I was a child, I have had interest
  in buildling game and game-mechanics. Originally, it was things like pen and paper,
  trading cards, and occassionally a poorly made game-board. Now that I have new skills,
  in programming, I wish to be able to create my own video game from scratch.
</p>
<h3> Goals and Aspirations </h3>
<p>
  Ultimately, I want to run an indie game company; even if it's only me. Due to my
  desires to make games from a young age I believe this would be an excellent outcome.
  It's not only the desire to make video games but it's been interests that have built within
  me, ever since I was a teenager.
</p>
<p>
  Despite not being the most social of people, I've always had an interest in the concepts
  of leardership, psychology/sociology, and communication. Most of my education in these areas
  are self taught and I should not be mistaken as an expert in these fields, meerly an interested
  person. I believe it will be important to have these skills and understanding to best work with people
  'above' and 'below' me, so-to-speak, in the heirarchy of groups.
</p>
<p>
  My more short-term goals are pretty simple. I wish to increase my skills in programming, and in general pretty much everything.
  I believe in constant growth being a good thing, and specifically when it comes to knowledge about a subject as frequently evolving,
  like programming paradigms. I wish to learn about my skills, but I also wish to establish some things.
</p>
