<div id="HomePageContainer" class="flex flex-vert HomePagePadding">
  <div id="HomePageHeaderContent">
    <h3 class="center-self">About Me</h3>
  </div>
  <div id="HomePageMainContent" class="flex flex-vert HomePagePadding">
    <p>
      My name is Scott Covell, I was born in 1988 and have had an interesting path in life.
    </p>
    <p>
      I started my working life aimless and working in services/labor positions. Being aimless I wasn't happy anywhere I worked. At the start of my 30's I finally went to college for Computer Science.
      I went to ECPI University in West Virginia. I was an online student and so was an accellerated program; which was perfect for my needs.
    </p>
    <p>
      Growing up I had dreams of being a Criminal Profiler but as time passed I learned that this path was not one I wanted to take. This is why I was aimless. It wasn't until I played a mod for the video game, Minecraft.
      The mod was called called 'ComputerCraft.'
    </p>
    <p>
      <a href="https://computercraft.cc/" target="_blank">Computer Craft</a> was a mod for Minecraft with the goal to help educate people on scripting. The idea was  that you would get a robot, called a turtle, that you could program
      with the scripting language, Lua. This was my first experience with programming and it turned out I absolutely loved the process. I always remember struggling to create a very simplistic for-loop that caused
      the turtle to chop down a tree and 'clean it up.' That task took me nearly 3 days of trying and research to get done. Now, that would be a 5-10 minute coding session that would be far-far more robust due
      to being able to detect the object and have it accept data from the world - instead of hard coding as was my original design.
    </p>
    <p>
      After I discovered computer craft I realised I wanted to do programming for a living. Not having a good financial situation, I tried teaching myself. I bought texts books on BASIC and Python and tried to
      teach myself programming. But I eventually got to a point where I wasn't sure what I was missing. I looked into going to college and discovered I would be able to do it. And, I think that going to college was
      the best thing for myself to do: I discovered I love and adore problem solving, especially in the form of programming problems.
    </p>
  </div>
  <div id="HomePageStatusContainer" class="flex flex-vert HomePagePadding">
    <sub>Website-Note:</sub>
    <sub>Currently CSS's flex property is not working on Mozilla Firefox browsers. I am unsure why this is not working as I should have
      all the appropriate vendor specific css-properties.
       Flex and Flex Direction seems to work but centering breaks
       for whatever reason. Playing around with the settings in
       inspector also yield no change. However, Edge and Chrome
       (and Chrome Mobile) all work as intended. This will be an
       on-going battle.
    </sub>
    <sub>
      As a consequence of utilizing github as a host for the website, only the home page can be accessed via the addressbar (scocov.github.io/portfolio). Any page, such as the resume page cannot be accessed directly and has to be navigated.
    </sub>
  </div>
</div>
