.main-image {
  width: 50%;
  border: 0.02rem solid var(--clr-accent);
  background-color: white;
  border-radius: 2%;
}

.poke-name {
  text-align: center;
}

.summary-wrapper {
  display: flex;
}

.meta-stat{
  padding-left: 1rem;
}


.images-wrapper {
  display: flex;
  margin: 0;
}
