<div class="pokedex-header-wrapper">
  <h2 class="center-self">Welcome to the PokeDex!</h2>
  <input
  type="text"
  class="pokedex-search-box center-self"
  #serachPokeDex
  (input)="onSearchInput($event)"
  placeholder="Search for a pokemon by name. (e.g. pikachu)">
</div>

<div class="poke-card-wrapper">
  <div class="poke-card center" *ngFor="let poke of filtered_pokemon; index as id">
    <div class="image-wrapper">
      <img class="official-artwork poke-img" (click)="goToPokemonDetails($event)"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{poke.id}}.png">
    </div>
    <div class="name-wrapper">
      <h3 class="poke-name">{{poke.name.toLocaleUpperCase()}}</h3>
      <p>PokeDex Entry: {{poke.id?.padStart(4,'0')}}</p>
      <br>
      <a class="view-link">View Details</a>
    </div>
  </div>
</div>
