
.poke-card-wrapper{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.pokedex-header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--clr-background-primary);
}

.pokedex-search-box {
  width: 30rem;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: black 1px solid;
}

.poke-filter{
  display: flex;
}
