/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  background: var(--clr-background-primary);
  color: var(--clr-text-primary);
  margin: 0;
  padding: 0;
}

.router-container{
  display: flex;
  min-width: 480;
  width: fit-content;
  max-width: 800px;
}

.center-content{
  display:flex;
  justify-content: center;
  align-content: center;
}

.center-self{
  justify-self: center;
  align-self: center;
}

.card-light {
  background: var(--clr-accent-lighter);
  border: 0.02rem solid var(--clr-header-footer);
  padding: .5rem;
  margin: 1rem;
  border-radius: 5%;
  box-shadow: 1px 1px 5px;
  min-width: .1rem;
  min-height: .1rem;
  max-width: 80%;
  max-height: 2rem;
  width: fit-content;
  height: fit-content;
}

:root{
  /*Chat GPT generate colors: */
  /*Primary Colors*/
  --clr-background-primary: #d9e4dd;/*Soft Blue*/
  /*Secondary Colors*/
  --clr-accent: #77a3ab; /*Teal blue: Buttons, links, etc*/
  --clr-text-primary:  #001a1a; /*Rich black - for headers,etc*/
  /*Tertiary Colors*/
  --clr-hover-effect: #a9cdd5; /*Lighter Blue*/
  --clr-accent-lighter: #a9cdd5; /*For further highlighting*/
  --clr-header-footer: #334d4d ; /*Headers background, borders etc*/
}

