.banner-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background: var(--clr-header-footer);
}

.website-title{
  color: lightgray;
  margin: 0;
  margin-bottom: 1rem;
}

